<h2>Become a Volunteer</h2>

<p>
	Over <strong>500 people</strong> dedicate their time, services and expertise to the TD Ottawa Jazz Festival. Volunteers eagerly anticipate the start of the Festival and some take vacation time to help out, contributing over 22,000 total hours of work. Our volunteer coordinators are essential to day to day operations over the course of the Festival. Divided into teams, our committed volunteers oversee everything from stage, transportation, and box office to sales, site maintenance, and beer and wine sales.
</p>

<p>
	<ul>
		<li>
			<a href="http://ottawajazzfestival.com/docs/Ottawa%20Jazz_evac_emerg_.pdf">Evacuation & Emergency Procedures</a>
		</li>
		<li>
			<a href="http://ottawajazzfestival.com/docs/Volunteer-Handbook.pdf">Volunteer Handbook</a>
		</li>
		<li>
			<a href="http://ottawajazzfestival.com/docs/AO_TrainingResource.pdf">Accessibility Standard for Customer Service: training resource</a>
		</li>
	</ul>
</p>

<p>
	Please read the <a href="http://ottawajazzfestival.com/volunteer/">volunteer page</a> on the official site.
</p>