<h2>Frequently Asked Questions</h2>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      What sort of information do you collect?
    </h4>
  </div>
  <div class="panel-body">
    We've created an
    <a href="<%= user_information_fake_path %>" target="_BLANK">example page</a>
    of what a typical application looks like.
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      Are there any perks to volunteering at the Ottawa Jazz Festival?
    </h4>
  </div>
  <div class="panel-body">
    Yes! One of which is that you get a free pass to all festival events;
    <i>after</i>
    you've worked your minimum of 4 shifts.
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      I haven't received any emails from Jazzify.
    </h4>
  </div>
  <div class="panel-body">
    Please look in your
    <b>junk folder</b>.
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      The links in my email don't work.
    </h4>
  </div>
  <div class="panel-body">Try opening the link in
    <a href="https://www.google.com/chrome/browser" target="_blank">Google Chrome</a>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      Can I help in the development process?
    </h4>
  </div>
  <div class="panel-body">
    Absolutely! Please contact us at using by clicking on the
    <%= link_to 'email us', help_path + '#email_us' %>
    button.
    <br>
    Code review? Pull request? Check out Jazzify's source code on
    <a href="https://github.com/seanlf/jazzify">GitHub</a>.
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      My question isn't listed / your answers didn't work
    </h4>
  </div>
  <div class="panel-body">
    Please contact us at using by clicking on the
    <%= link_to 'email us', help_path + '#email_us' %>
    button.
  </div>
</div>
