<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Links</h3>
  </div>
  <div class="panel-body">
    <p>
      <%= link_to "Help Page", help_path, target: "_BLANK" %>
    </p>
    <p>
      <a href="http://ottawajazzfestival.com" target="_BLANK">Official Ottawa Jazz Festival website</a>
    </p>
    <p>
      <a href="http://ottawajazzfestival.com/faqs" target="_BLANK">Official Ottawa Jazz Festival FAQs</a>
    </p>
    <p>
      <%= link_to "Volunteer Code Of Conduct", codeofconduct_path, target: "_BLANK" %>.
    </p>
    <p>
      <a href="http://smartserve.ca/online-training-guidelines" target="_BLANK">Smart Serve Training</a>
    </p>
    <p>
      <a href="http://ottawa.ca/en/city-hall/get-know-your-city/volunteering/accessibility-training" target="_BLANK">
        Accessibility Training
      </a>
    </p>
  </div>
</div>
