<h2>About Jazzify</h2>
<div class="row">
  <div class="col-md-6">
    <blockquote>
      The TD Ottawa Jazz Festival was founded in 1980 and has evolved into a multi-week outdoor music festival featuring some of the world's most dynamic performers. The Festival takes place the last two weeks in June in Confederation Park in downtown Ottawa, Ontario, Canada, and various indoor venues throughout the city. It is one of the largest jazz festivals in Canada.
      <footer>Wikipedia <sup><a href="http://en.wikipedia.org/wiki/Ottawa_International_Jazz_Festival" target="_BLANK">[1]</a></sup></footer>
    </blockquote>
    <p>
    <%= link_to "Frequently Asked Questions", faq_path, target: "_BLANK" %>
    </p>
    <p>
    <a href="http://ottawajazzfestival.com" target="_BLANK">Official Ottawa Jazz Festival website</a>
    </p>
    <p>
    <%= link_to "Volunteer Code Of Conduct", codeofconduct_path, target: "_BLANK" %>.
    </p>
  </div>
  <div class="col-md-6">
    <img src="http://ottawajazzfestival.com/wp-content/uploads/2014/04/Volunteers-2013-arms-waving.jpg" class="img-responsive img-thumbnail">
    <div class="caption">
      <h5>Photo by Brian Goldschmied</h5>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <p>
    Created by <a href="http://seanlf.github.io/web/" target="_BLANK">Sean Floyd</a>.
    </p>
    <p>
    Proudly built with <a href="http://rubyonrails.org/" target="_BLANK">Ruby on Rails</a>.
    </p>
  </div>
</div>
