<h2>About</h2>

<p>
	The TD Ottawa Jazz Festival was founded in 1980 and has evolved into a multi-week outdoor music festival featuring some of the world's most dynamic performers. The Festival takes place the last two weeks in June in Confederation Park in downtown Ottawa, Ontario, Canada, and various indoor venues throughout the city. It is one of the largest jazz festivals in Canada.
	<sup><a href="http://en.wikipedia.org/wiki/Ottawa_International_Jazz_Festival" target="_BLANK">[1]</a></sup>
</p>

<p>
	Offical page: <a href="http://ottawajazzfestival.com" target="_BLANK">Ottawa Jazz Festival</a>.
</p>

<p>
	Created by <a href="http://seanlf.github.io/web/" target="_BLANK">Sean Floyd</a>.
</p>