<div class="panel panel-primary">
  <div class="panel-heading">
    Volunteer Code of Conduct</div>
    <div class="panel-body">
      <p>
        <strong>Prior to applying as a volunteer, it's important for you to know what you're signing up for!</strong>
      </p>

      <p>
        As volunteer for the Ottawa Jazz Festival, I agree to the following:
        <ul>
          <li>I will be a responsible ambassador for the Festival and represent the Festival in a positive way;</li>
          <li>I will be respectful of festival goers;</li>
          <li>I will work with other volunteers, performers, and staff in a positive manner;</li>
          <li>I will fulfill all volunteer responsibilities (i.e., the tasks assigned of me & the minimum time commitment required);</li>
          <li>I will maintain confidentiality with respect to all Ottawa Jazz Festival information and records</li>
          <li>I will not record any  festival performances (audio/video);</li>
          <li>I will not reserve seating in any of the audience areas until after the gate opens;</li>
          <li>I will leave my pets at home;</li>
          <li>I acknowledge my position of trust and will not use for my own advantage any money, information, or properties belonging to the Festival, its sponsors, artists, or vendors;</li>
          <li>I understand that if I consume alcohol while off duty, I am expected to drink responsibly and ensure that any clothing or credentials which identify me as a volunteer be removed;</li>
        </ul>
      </p>

      <p>
        I also understand that the Ottawa Jazz Festival has the right to immediately dismiss me as a volunteer for any of the following reasons:
          <ul>
            <li>If I display inappropriate behaviour or negative attitude;</li>
            <li>If I commit illegal, violent or unsafe acts;</li>
            <li>If I attempt to bring alcohol onto the site;</li>
            <li>If I use or possess illegal substances on site; or</li>
            <li>If I consume or am under the influence of alcohol or drugs while on duty.</li>
          </ul>
      </p>
      <strong>Failure to adhere to the Code of Conduct may result in disciplinary procedures or immediate loss of your volunteer standing for the current and future years.</strong>
    </div>
  </div>
</div>
