<div class="row">
  <div class="col-md-4 col-md-push-8">
    <%= image_tag "2016-ottawa-jazz-fest-dates.png", class: "img-responsive center-block" %>
  </div>
  <div class="col-md-8 col-md-pull-4">
    <h1>
    My information
    </h1>
    <p class="col-md-offset-3 text-warning">
      <u>You must fill in this form before applying.</u>
    </p>
  </div>
</div>
<br/>
<style type="text/css">
.form-group_for_radio_buttons{margin-bottom: 0px;}
</style>
<div class="form-horizontal" role="form" id="new_user_information">
<div class="form-group">
  <label class="col-sm-2 control-label" for="user_information_first_name">First name</label>
  <div class="col-sm-10">
    <input class="form-control" type="text" name="user_information[first_name]" id="user_information_first_name" value="John">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label" for="user_information_last_name">Last name</label>
  <div class="col-sm-10">
    <input class="form-control" type="text" name="user_information[last_name]" id="user_information_last_name" value="Doe">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label" for="user_information_address">Address</label>
  <div class="col-sm-10">
    <input class="form-control" type="text" name="user_information[address]" id="user_information_address" value="100 Bank Street">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label" for="user_information_city">City</label>
  <div class="col-sm-10">
    <input class="form-control" type="text" name="user_information[city]" id="user_information_city" value="Ottawa">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label" for="user_information_province">Province</label>
  <div class="col-sm-10">
    <select class="form-control" name="user_information[province]" id="user_information_province"><option value="Ontario">Ontario</option>
<option value="Quebec">Quebec</option>
<option value="Nova Scotia">Nova Scotia</option>
<option value="New Brunswick">New Brunswick</option>
<option value="Manitoba">Manitoba</option>
<option value="British Columbia">British Columbia</option>
<option value="Price Edward Island">Price Edward Island</option>
<option value="Saskatchewan">Saskatchewan</option>
<option value="Alberta">Alberta</option>
<option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
<option value="Northwest Territories">Northwest Territories</option>
<option value="Nunavut">Nunavut</option>
<option value="Yukon">Yukon</option></select>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label" for="user_information_postal_code">Postal code</label>
  <div class="col-sm-10">
    <input class="form-control" type="text" name="user_information[postal_code]" id="user_information_postal_code" value="K1A 1A1">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label" for="user_information_home_phone_number">Home phone number</label>
  <div class="col-sm-10">
    <input class="form-control" data-toggle="popover" data-trigger="focus" title="" data-content="You must enter at least one of the 3 telephone fields." data-placement="top" type="text" name="user_information[home_phone_number]" id="user_information_home_phone_number" data-original-title="Optional requirement" value="613-111-1111">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label" for="user_information_work_phone_number">Work phone number</label>
  <div class="col-sm-10">
    <input class="form-control" data-toggle="popover" data-trigger="focus" title="" data-content="You must enter at least one of the 3 telephone fields." data-placement="top" type="text" name="user_information[work_phone_number]" id="user_information_work_phone_number" data-original-title="Optional requirement" value="613-111-1112">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label" for="user_information_cell_phone_number">Cell phone number</label>
  <div class="col-sm-10">
    <input class="form-control" data-toggle="popover" data-trigger="focus" title="" data-content="You must enter at least one of the 3 telephone fields." data-placement="top" type="text" name="user_information[cell_phone_number]" id="user_information_cell_phone_number" data-original-title="Optional requirement" value="613-111-1113">
  </div>
</div>
<div class="form-group form-group_for_radio_buttons">
  <label class="col-sm-2 control-label" id="t_shirt_size" for="user_information_t_shirt_size">T shirt size</label>
  <div class="col-sm-10">
    <label class="radio-inline">
      <input type="radio" value="Small" name="user_information[t_shirt_size]" id="user_information_t_shirt_size_small">
      Small
    </label>
    <label class="radio-inline">
      <input type="radio" value="Medium" name="user_information[t_shirt_size]" id="user_information_t_shirt_size_medium">
      Medium
    </label>
    <label class="radio-inline">
      <input type="radio" value="Large" name="user_information[t_shirt_size]" id="user_information_t_shirt_size_large" checked>
      Large
    </label>
    <label class="radio-inline">
      <input type="radio" value="XL" name="user_information[t_shirt_size]" id="user_information_t_shirt_size_xl">
      XL
    </label>
    <label class="radio-inline">
      <input type="radio" value="XXL" name="user_information[t_shirt_size]" id="user_information_t_shirt_size_xxl">
      XXL
    </label>
    <label class="radio-inline">
      <input type="radio" value="XXXL" name="user_information[t_shirt_size]" id="user_information_t_shirt_size_xxxl">
      XXXL
    </label>
  </div>
  <div class="col-sm-2"></div>
  <span class="help-block col-sm-10">Please note that these are men's sizes.</span>
</div>
<div class="form-group form-group_for_radio_buttons">
  <label class="col-sm-2 control-label" for="user_information_age_group">Age group</label>
  <div class="col-sm-10">
    <label class="radio-inline">
      <input type="radio" value="Under 16" name="user_information[age_group]" id="user_information_age_group_under_16">
      Under 16
    </label>
    <label class="radio-inline">
      <input type="radio" value="16 - 24" name="user_information[age_group]" id="user_information_age_group_16_-_24">
      16 - 24
    </label>
    <label class="radio-inline">
      <input type="radio" value="25 - 55" name="user_information[age_group]" id="user_information_age_group_25_-_55" checked>
      25 - 55
    </label>
    <label class="radio-inline">
      <input type="radio" value="55+" name="user_information[age_group]" id="user_information_age_group_55">
      55+
    </label>
  </div>
  <div class="col-sm-2"></div>
  <span class="help-block col-sm-10">We ask as some positions have a minimum age requirement.</span>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label" for="user_information_emergency_contact_name">Emergency contact name</label>
  <div class="col-sm-10">
    <input class="form-control" data-toggle="popover" data-trigger="focus" data-content="Let's hope we never need to call them." data-placement="top" type="text" name="user_information[emergency_contact_name]" id="user_information_emergency_contact_name" data-original-title="" title="" value="Jane Doe">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label" for="user_information_emergency_contact_number">Emergency contact number</label>
  <div class="col-sm-10">
    <input class="form-control" data-toggle="popover" data-trigger="focus" data-content="Just in case, we need their number." data-placement="top" type="text" name="user_information[emergency_contact_number]" id="user_information_emergency_contact_number" data-original-title="" title="" value="613-111-1114">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label" for="user_information_notes">Notes</label>
  <div class="col-sm-10">
    <textarea class="form-control" data-toggle="popover" data-trigger="focus" data-content="Please note (comma seperated) any skill that you have that is relevant.<br/>For example: SmartServe certification" data-placement="top" name="user_information[notes]" id="user_information_notes" data-original-title="" title="">SmartServe, bartender, truck driver, sales, doorman...</textarea>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label" for="user_information_availability">Availability</label>
  <div class="col-sm-10">
    <textarea class="form-control availability" data-toggle="popover" data-trigger="focus" data-content="Please let us know what your availability is, i.e. Available weekdays after 5pm, no weekends, unavailable June 27. <strong>*</strong>" data-placement="top" name="user_information[availability]" id="user_information_availability" data-original-title="" title="">Available weekdays after 5pm. Unavailable weekends and June 27.</textarea>
  </div>
  <div class="col-sm-2"></div>
  <span class="col-sm-10 text-danger">*You are required to work a mininum of 4 shifts. </span>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <div class="checkbox">
      <label>
        <input name="user_information[code_of_conduct]" type="hidden" value="0"><input type="checkbox" value="1" name="user_information[code_of_conduct]" id="user_information_code_of_conduct" checked>
        I accept the <a target="_BLANK" href="https://ottawajazzify.herokuapp.com/codeofconduct">Volunteer Code of Conduct</a>
      </label>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button class="btn btn-primary">Submit</button>
  </button></div>
</div>
</div>
<script type="text/javascript">
  $(function () {
    $('[data-toggle="popover"]').popover({html: true})
  });
</script>
