
<div class="page-header">
  <a class="btn btn-default" href="/volunteer_positions">
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  </a>  <h1>My information</h1>
</div>
<form class="form-horizontal">

  <div class="form-group">
    <label class="col-sm-2 control-label" for="user_information_first_name">First name</label>
    <div class="col-sm-10">
      <input class="form-control" id="user_information_first_name" name="user_information[first_name]" type="text" value="John">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="user_information_last_name">Last name</label>
    <div class="col-sm-10">
      <input class="form-control" id="user_information_last_name" name="user_information[last_name]" type="text" value="Doe">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="user_information_address">Address</label>
    <div class="col-sm-10">
      <input class="form-control" id="user_information_address" name="user_information[address]" type="text" value="100 Bank Street">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="user_information_city">City</label>
    <div class="col-sm-10">
      <input class="form-control" id="user_information_city" name="user_information[city]" type="text" value="Ottawa">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="user_information_province">Province</label>
    <div class="col-sm-10">
      <select class="form-control" id="user_information_province" name="user_information[province]"><option value="Ontario">Ontario</option>
        <option value="Quebec">Quebec</option>
        <option value="Nova Scotia">Nova Scotia</option>
        <option value="New Brunswick">New Brunswick</option>
        <option value="Manitoba">Manitoba</option>
        <option value="British Columbia">British Columbia</option>
        <option value="Price Edward Island">Price Edward Island</option>
        <option value="Saskatchewan">Saskatchewan</option>
        <option value="Alberta">Alberta</option>
        <option value="Newfoundland and Labrador">Newfoundland and Labrador</option>
        <option value="Northwest Territories">Northwest Territories</option>
        <option value="Nunavut">Nunavut</option>
        <option value="Yukon">Yukon</option></select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="user_information_postal_code">Postal code</label>
      <div class="col-sm-10">
        <input class="form-control" id="user_information_postal_code" name="user_information[postal_code]" type="text" value="K1A1A1">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="user_information_home_phone_number">Home phone number</label>
      <div class="col-sm-10">
        <input class="form-control" data-content="You must enter at least one of the 3 telephone fields." data-placement="top" data-toggle="popover" data-trigger="focus" id="user_information_home_phone_number" name="user_information[home_phone_number]" title="" type="text" data-original-title="Optional requirement" value="613-111-1111">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="user_information_work_phone_number">Work phone number</label>
      <div class="col-sm-10">
        <input class="form-control" data-content="You must enter at least one of the 3 telephone fields." data-placement="top" data-toggle="popover" data-trigger="focus" id="user_information_work_phone_number" name="user_information[work_phone_number]" title="" type="text" data-original-title="Optional requirement" value="613-111-1112">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="user_information_cell_phone_number">Cell phone number</label>
      <div class="col-sm-10">
        <input class="form-control" data-content="You must enter at least one of the 3 telephone fields." data-placement="top" data-toggle="popover" data-trigger="focus" id="user_information_cell_phone_number" name="user_information[cell_phone_number]" title="" type="text" data-original-title="Optional requirement" value="613-111-1113">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="user_information_t_shirt_size" id="t_shirt_size">T shirt size</label>
      <div class="col-sm-10">
        <label class="radio-inline">
          <input id="user_information_t_shirt_size_small" name="user_information[t_shirt_size]" type="radio" value="Small">
          Small
        </label>
        <label class="radio-inline">
          <input id="user_information_t_shirt_size_medium" name="user_information[t_shirt_size]" type="radio" value="Medium" checked>
          Medium
        </label>
        <label class="radio-inline">
          <input id="user_information_t_shirt_size_large" name="user_information[t_shirt_size]" type="radio" value="Large">
          Large
        </label>
        <label class="radio-inline">
          <input id="user_information_t_shirt_size_xl" name="user_information[t_shirt_size]" type="radio" value="XL">
          XL
        </label>
        <label class="radio-inline">
          <input id="user_information_t_shirt_size_xxl" name="user_information[t_shirt_size]" type="radio" value="XXL">
          XXL
        </label>
        <label class="radio-inline">
          <input id="user_information_t_shirt_size_xxxl" name="user_information[t_shirt_size]" type="radio" value="XXXL">
          XXXL
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="user_information_age_group">Age group</label>
      <div class="col-sm-10">
        <label class="radio-inline">
          <input id="user_information_age_group_under_16" name="user_information[age_group]" type="radio" value="Under 16">
          Under 16
        </label>
        <label class="radio-inline">
          <input id="user_information_age_group_16_-_24" name="user_information[age_group]" type="radio" value="16 - 24">
          16 - 24
        </label>
        <label class="radio-inline">
          <input id="user_information_age_group_25_-_55" name="user_information[age_group]" type="radio" value="25 - 55" checked>
          25 - 55
        </label>
        <label class="radio-inline">
          <input id="user_information_age_group_55" name="user_information[age_group]" type="radio" value="55+">
          55+
        </label>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="user_information_emergency_contact_name">Emergency contact name</label>
      <div class="col-sm-10">
        <input class="form-control" data-content="Let's hope we never need to call them." data-placement="top" data-toggle="popover" data-trigger="focus" id="user_information_emergency_contact_name" name="user_information[emergency_contact_name]" type="text" data-original-title="" title="" value="Jane Doe">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="user_information_emergency_contact_number">Emergency contact number</label>
      <div class="col-sm-10">
        <input class="form-control" data-content="Just in case, we need their number." data-placement="top" data-toggle="popover" data-trigger="focus" id="user_information_emergency_contact_number" name="user_information[emergency_contact_number]" type="text" data-original-title="" title="" value="613-111-1114">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="user_information_notes">Notes</label>
      <div class="col-sm-10">
        <textarea class="form-control" data-content="Please note (comma seperated) any skill that you have that is relevant.<br/>For example: SmartServe certification" data-placement="top" data-toggle="popover" data-trigger="focus" id="user_information_notes" name="user_information[notes]" data-original-title="" title="">SmartServe, bartender, truck driver, sales, doorman...</textarea>
      </div>
    </div>
    <div class="form-group hidden">
      <label class="col-sm-2 control-label" for="user_information_availability">Availability</label>
      <div class="col-sm-10">
        <textarea class="form-control" data-content="Please indicate at least 4 days for which you are available to volunteer; and if applicable, days you absolutely CANNOT volunteer." data-placement="top" data-toggle="popover" data-trigger="focus" id="user_information_availability" name="user_information[availability]" data-original-title="" title=""></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <input name="user_information[code_of_conduct]" type="hidden" value="0"><input id="user_information_code_of_conduct" name="user_information[code_of_conduct]" type="checkbox" value="1" checked>
            I accept the <%= link_to "Volunteer Code of Conduct", codeofconduct_url, target: "_BLANK" %>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input class="btn btn-primary" name="commit" type="submit" value="Create User information">
      </div>
    </div>
  </form>
  <script type="text/javascript">
    $(function() {
      $('#available').datepicker('setDates', [new Date(2015, 06, 25), new Date(2015, 6, 26),new Date(2015, 6, 27),new Date(2015, 6, 28)])

      $('#unavailable').datepicker('setDates', [new Date(2015, 7, 01), new Date(2015, 6, 29)])
    });
  </script>
