// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "sweet-alert";
@import "bootstrap-select.min";
@import "datepicker";
@import "landing-page";

// Bootswatch theme
//@import 'bootswatch/cosmo/bootstrap.min';
//@import 'bootswatch/cyborg/bootstrap.min';
//@import 'bootswatch/darkly/bootstrap.min';
//@import 'bootswatch/flatly/bootstrap.min';
//@import "bootswatch/lumen/bootstrap.min";
//@import 'bootswatch/paper/bootstrap.min';
//@import 'bootswatch/readable/bootstrap.min';

// Set padding 50px for fixed navbar
.padding-top-for-fixed-navbar{
  padding-top: 70px;
}

// Index and Show -> get rid of margins
.form-group .col-sm-10 .well-sm{
	margin-bottom: 0px;
	min-height: 40px;

	p{
		margin-bottom: 0px;
	}

}

ul.reports{
  padding-left:0px;
}

.home-buttons{
  .btn, .btn-group {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.about-carousel-max-size{max-width: 570px; max-height: 400px;}

.home-youtube-video{
  height: 300px;
  width: 100%;
}

.application-div{
  border: 1px #eee solid;
  border-radius: 3px;
  margin-bottom: 50px;
}

.home-flash{
  position: absolute;
  top: 60px;
  right:5px;
  z-index: 1000000;
}

.navbar-inverse{
  background-color: #343538;
  border-color: #343538;
}

@media (max-width: 767px) {
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: rgb(221, 221, 221)!important;
  &:hover{
    color: white!important;
  }
}}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
  color: rgb(221, 221, 221)!important;
  &:hover{
    color: white!important;
  }
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  //color: #555!important;
  //background-color: #e7e7e7;
}

.ojf-logo-new-info-app{
  padding-left:24px;
}

.ojf-logo-success{
  background-color: rgb(44,64,90);
}

/* Forms */
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: #a94442;
  }
}
