<% if @user_elevated %>
  <%= link_to user_applications_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
<% end %>

<%= link_to @user_application, :class => 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-info-sign"></span>
  Show
<% end %>

<h1>Editing
  <% if @user_application.user_id == @user.id %>
    my
  <% else %>
    user
  <% end %>
   application
</h1>

<%= render 'form' %>
