<div class="row">
  <div class="col-md-3 col-md-push-9 ojf-logo-background">
    <%= image_tag "OJF_logo_2015-olg.png", class: "img-responsive center-block ojf-logo-new-info-app" %>
  </div>
  <div class="col-md-9 col-md-pull-3">
    <h1>
      Apply<br/>
      <small>Select three distinct choices.</small>
    </h1>
  </div>
</div>
<br/>
<%= render 'form' %>
