<div class="jumbotron container">
  <div class="row">
    <div class="col-sm-3 col-sm-push-9">
    <div class="ojf-logo-success img-circle">
      <%= image_tag "OJF_logo_2015.png", class: "img-responsive center-block", style: "margin:auto; padding: 10px;" %>
    </div></div>
    <div class="col-sm-9 col-sm-pull-3">
      <h2>Your application was successful</h2>
    </div>
  </div>
  <p>
    Thank you for your interest in volunteering with us. We'll get back to you as soon as possible!
  </p>
  <p>
    <% if DateTime.now < @time %>
    You have until
    <strong class="fa fa-clock-o"></strong> <u><%= @time.to_formatted_s(:long) %></u>
    to edit any submitted information before it's sent to a volunteer coordinator.
    <i style="font-size:15px!important">If you require any changes to be made after your application is locked, please contact a coordinator.</i>
    <br/>
    To edit your application, click <%= link_to "here", edit_user_application_path(@user_application.id) %>.
    <% else %>
    Your application has been sent to a volunteer coordinator. If you need to change something, please contact them <a href="mailto:ottawajazzifycoordinator@gmail.com">here</a>.
    <% end %>
  </p>
  <hr/>
  <p>
    We'd be thrilled if you took this quick anonymous survey on the application process.
    <br/>
    <br/>
    <a class="typeform-share link btn btn-success" href="https://jazzify.typeform.com/to/B27JqP"
      data-mode="1" target="_blank">
      Survey
    </a>
    <script>
    (function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,
    id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';
    if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';
    q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()
    </script>
  </p>
</div>
