<div class="page-header">
  <%= link_to volunteer_positions_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Create a new volunteer position</h1>
</div>

<%= render 'form' %>
