<div class="row">
  <div class="col-md-3">
    <fieldset>
      <legend>Sign Up Distribution</legend>
      Total Users:
      <span class="text-right pull-right">
        <%= @months.count %>
      </span>
      <hr/>
    </fieldset>
  </div>
  <div class="col-md-9">
    <canvas id="canvas"></canvas>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    var barData = {
      labels: [<%= "'#{@month_names.join("', '")}'".html_safe %>],
      datasets: [{
        label: "Sign Up",
        fillColor: "rgba(50,177,80,0.2)",
        strokeColor: "rgba(122,220,122,0.8)",
        highlightFill: "rgba(50,177,80,0.5)",
        highlightStroke: "rgba(122,220,122,1)",
        data: [<%= @month_counts.values.join(', ') %>]
      }]
    };
    var ctx = document.getElementById("canvas").getContext("2d");
    window.myLine = new Chart(ctx).Bar(barData, {responsive : true});
  });
</script>
