<h1>
My information
<small>We've filled out an <%= link_to "example", user_information_fake_path, target: "_BLANK" %>.</small>
</h1>
<p class="col-md-offset-2 text-warning">
  You must fill in this form before applying.
</p>
<%= render 'form' %>
