<div class="row">
  <div class="col-md-4 col-md-push-8">
    <%= image_tag "2016-ottawa-jazz-fest-dates.png", class: "img-responsive center-block" %>
  </div>
  <div class="col-md-8 col-md-pull-4">
    <h1>
    My information
    <small>We've filled out an <%= link_to "example", user_information_fake_path, target: "_BLANK" %>.</small>
    </h1>
    <p class="col-md-offset-3 text-warning">
      <u>You must fill in this form before applying.</u>
    </p>
  </div>
</div>
<br/>
<%= render 'form' %>
